<ion-view view-title="WOD">
  <ion-content class="padding">
    <div class = "card">
      <h1>{{workout[0].day}}</h1>
      <h3>{{workout[0].box}}</h3>

      <div class="item item-divider">
        Strength
      </div>
      <div ng-repeat="movement in currentDayStrength">
        <p>{{movement}}</p>
      </div>

      <div class="item item-divider">
        Metcon
      </div>
      <div ng-repeat="movement in currentDayMetcon">
        <p>{{movement}}</p>
      </div>

    </div>
  </ion-content>
</ion-view>
